*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    body{
      font-family: 'Poppins', sans-serif;
    }
    
    .navbar{
      display: flex;
      align-items: center;
      padding: 20px;
    }
    
    nav{
      flex: 1;
      text-align: right;
    }
    
    nav ul{
      display: inline-block;
      list-style-type: none;
    }
    
    nav ul li{
    
      display: inline-block;
      margin-right: 20px;
    
    }
    
    a{
      text-decoration: none;
    
      color: #555;
    }
    
    p{
      color: #555;
    }
    
    .container{
      max-width: 1200px;
      margin: auto;
      padding-left: 25px;
      padding-right: 25px;
    
      
    
    }
    
    .header{
      
      background: url(image/Background-2.jpg) no-repeat;
      background-size: 100%;
      height:1000px;
    
    
     
    
    }
    
    
    .row{
      display: cover;
      align-items: center;
      
    
    }
      
    .col-2{
      flex-basis: 50%;
      min-width: 300px;
    
    }
    
    .col-2 img{
      max-width: 100%;
      padding: 50px 0;
     
    
    }
    
    .col-2 h1{
      font-size: 50px;
      line-height: 60px;
      margin: 20px 0;
    }
    .btn{
      display: inline-block;
      background: #ff523b ;
      color:fff ;
      padding: 8px 30px;
      margin: 30px 0;
      border-radius: 30px;
       transition: background 0.5s;
    }
    
    .btn:hover{
      background:#563434;
    }
    
    .categories .column{
      margin-top: 70px ;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    
    .categories{
      margin: 70px 0;
    }
    
    .col-3{
      flex-basis: 30%;
      min-width: 250px;
      margin-bottom: 30px;
    }
    
    .row img{
      width: 350px;
      padding: 30px;
    
    }
    
    
    
    .row span{
      margin: 0 auto;
    }
    
    .small-container{
    
      max-width: 1100px;
      margin: auto;
      padding-left:20px;
      padding-right: 20px;
    
    }
    
    .small-container:hover{
      transform:scale(1.2)
    }
    
    .col-4{
      flex-basis: 25%;
      padding: 10px;
      min-height: px;
      margin-bottom: 50px;
      align-items: left;
    }
    
    .col-4 img{
      width: 40%;
     
     
    
    }
    
    /* about us starts*/
    
    #about-us {
      padding: 1%;
    }
    
    .about-us-content {
      text-align: center;
      background-color: rgb(221, 221, 233);
      padding: 20px ;
      margin: auto;
    }
    
    .about-us-content h3 {
      font-size: 2rem;
      margin-bottom: 10px;
      font-weight: bolder;
    }
    
    .about-us-content p {
      font-size: 0.8rem;
      margin-bottom: 10px;
    }
    
    /* about us ends*/
    
    
    
    /*Features Car starts*/
    
    #manu-section {
      padding: 1%;
    }
    
    .card-body {
      text-align: center;
    }
    
    .card-body img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    
    .item-desc {
      background: rgb(82, 78, 78);
    }
    
    .item-name {
      background: green;
      color: blanchedalmond;
      padding: 10px;
      font-weight: bold;
    }
    
    .item-desc > p {
      font-size: 1rem;
      padding: 5px;
      font-weight: bold;
    }
    
    .card {
      transition: 0.5s;
    }
    
    .card:hover {
      transform: scale(1.2);
    }
    
    /*Features Car ends*/
    
    
    /* contact starts*/
    
    #contact{
      padding: 1%;
      background:blueviolet;
    }
    
    .contact-details{
      color: beige;
      text-align: center;
    }
    
    .contact-details p{
      font-size: 00.8rem;
    }
    
    .map{
      width: 100%;
    }
    
    /* contact ends*/
    
    
    /* footer starts*/
    
    footer{
      padding: 1%;
      color: whitesmoke;
      background-color: rgb(5, 1, 15);
    
    }
    
    footer p{
      line-height: 30px;
      font-size: 00.9rem;
      text-align: center;
    }
    
    .social-menu{
      text-align: center;
    }
    
    .icon-style{
    
      color: white;
      width: 50px;
      height: 50px;
      padding: 15px;
      border-radius: 100%;
      border: 1px solid white;
      margin: 0 10px;
      transition: .4s;
      text-align: center;
    
    
    
    }
    
    .icon-style:hover{
    
      background-color: gray;
      transform:scale(1.2);
    
    
    }
    
    /* footrer ends*/
    
    /* footrer p start*/
    
    footer p{
      text-align:center;
      color:white;
      font-size:12px;
    }
    
    .social-menu{
      text-align: right;
    }
    
    
    /* footrer p ends*/
    
    * {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Float four columns side by side */
    .column {
      float: left;
      width: 30%;
      height: 40%;
      padding: 0 10px;
    }
    
    
    .row {margin: 0 -5px;}
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
    }
    
    /* Style the counter cards */
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      padding: 16px;
      text-align: center;
      background-color: #f1f1f1;
    }
    
    .features{
         
          text-align: center;
          text-decoration: #ff523b;
         
    }
    
    
    